/*Mobile First Style*/
.row {
  width : 100%;
  height: auto;

  display        : flex;
  justify-content: center;
  align-items    : center;

  border-bottom: 0.1rem solid #ccc;
  transition   : all 0.2s ease-in-out;

  background-color: #f8f8f8;
}

.row:hover {
  border-width: 0.1rem;
  border-color: #0058fc;
}

.input,
.select {
  border-radius: 0 !important;
  border       : none !important;
  margin-bottom: 0 !important;
  background-color: transparent !important;
}

.container {
  margin-bottom: 0;
}

.icon {
  width              : 4rem;
  height             : 2.7rem;
  /* background-color: #0058fc; */

  cursor: pointer;

  display        : flex;
  justify-content: center;
  align-items    : center;

  padding: 0.6rem 0.5rem 0 0.5rem;

  margin-bottom: 0.5rem;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {}